/.vscode/
/build-aux/
/configure
/libtool
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/m4/*
!/m4/ax_cxx_compile_stdcxx.m4
!/m4/ax_pthread.m4
/remoteexecutor*.tar.gz
*.o
*.la
*.lo
.deps/
.libs/
.dirstamp
/include/remoteexecutor/version.h
/include/private/config.h.in
/include/private/config.h
/include/private/stamp-h1
/libremoteexecutor.pc
/simpleexample
*~
